* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.head-container {
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  justify-content: end;

  &>div {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}